* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  padding: 100px 25px 25px 25px ;
  text-align: center;

}

main::before {
  background-image: url(../images/bg-pattern-top-mobile.svg);
  content: '';
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

main::after {
  background-image: url(../images/bg-pattern-bottom-mobile.svg);
  content: '';
  background-repeat: no-repeat;
  height: 80%;
  width: 100%;
  position: absolute;
  bottom: -150%;
  left: 0;

}



h1,
h2,
h3,
h4,
h5,
h6, p {
  color: hsl(300, 43%, 22%);
  margin: 0;
  padding: 0;
  
}

/*------------Header---------------*/

.header {
  padding-bottom: 25px;
}

.header-title {
  padding-bottom: 12.5px;
}

.header-subtitle {
  padding-top: 12.5px;
}

/*------------Rating---------------*/


.rating-section {
  padding: 25px 0;
}

.rating-score {
  padding-bottom: 9px;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  border: 0;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 18px 0;
}



/*-----------Social Proof/Testimonial-----------------*/

.testimonials {
  
  padding: 25px 0;
  text-align: left;

}

.testimonial{
  background-color: hsl(300, 43%, 22%);
  border: 0;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 20px 30px;
}

.testimony-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.testimony-profile img {
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-info {
  padding: 5px 0;
  margin-left: 15px;
}

.testimony-name {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding-bottom: 5px;
}

.testimony-verified {
  color: hsl(333, 80%, 67%);
}

.testimony {
  color: hsl(300, 24%, 96%);
  font-size: 13px;
  line-height: 20px;
  padding: 20px 0;
}




 /*----------Footer----------------------------------*/
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

