* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  padding: 100px 25px;
  text-align: center;

}

h1,
h2,
h3,
h4,
h5,
h6, p {
  color: hsl(300, 43%, 22%);
  margin: 0;
  padding: 0;
  
}

/*------------Header---------------*/

header {
  padding-bottom: 25px;
}

.header-title {
  padding-bottom: 12.5px;
}

.header-subtitle {
  padding-top: 12.5px;
}

/*------------Rating---------------*/


.rating-section {
  padding: 25px 0;
}

.rating-score {
  padding-bottom: 9px;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  border: 0;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 18px 0;
}



/*-----------Social Proof/Testimonial-----------------*/

.testimonials {
  padding: 25px 0;
}




 /*----------Footer----------------------------------*/
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

